In [9]:
import pandas as pd

In [11]:
df=pd.read_csv("cars.csv")

In [12]:
df

      Dimensions.Height  ...  Engine Information.Engine Statistics.Torque
0                   140  ...                                          236
1                   140  ...                                          207
2                   140  ...                                          207
3                   140  ...                                          207
4                   140  ...                                          207
...                 ...  ...                                          ...
5071                 13  ...                                          253
5072                141  ...                                          398
5073                160  ...                                          398
5074                200  ...                                          330
5075                200  ...                                          330

[5076 rows x 18 columns]

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.head()

   Dimensions.Height  ...  Engine Information.Engine Statistics.Torque
0                140  ...                                          236
1                140  ...                                          207
2                140  ...                                          207
3                140  ...                                          207
4                140  ...                                          207

[5 rows x 18 columns]

In [10]:
df["Dimensions.Length"]

0       143
1       143
2       143
3       143
4       143
       ...
5071    253
5072    249
5073    249
5074    210
5075     94
Name: Dimensions.Length, Length: 5076, dtype: int64

In [11]:
df.isnull()

      Dimensions.Height  ...  Engine Information.Engine Statistics.Torque
0                 False  ...                                        False
1                 False  ...                                        False
2                 False  ...                                        False
3                 False  ...                                        False
4                 False  ...                                        False
...                 ...  ...                                          ...
5071              False  ...                                        False
5072              False  ...                                        False
5073              False  ...                                        False
5074              False  ...                                        False
5075              False  ...                                        False

[5076 rows x 18 columns]

In [14]:
df.isnull().sum()

Dimensions.Height                                  0
Dimensions.Length                                  0
Dimensions.Width                                   0
Engine Information.Driveline                       0
Engine Information.Engine Type                     0
Engine Information.Hybrid                          0
Engine Information.Number of Forward Gears         0
Engine Information.Transmission                    0
Fuel Information.City mpg                          0
Fuel Information.Fuel Type                         0
Fuel Information.Highway mpg                       0
Identification.Classification                      0
Identification.ID                                  0
Identification.Make                                0
Identification.Model Year                          0
Identification.Year                                0
Engine Information.Engine Statistics.Horsepower    0
Engine Information.Engine Statistics.Torque        0
dtype: int64

In [16]:
df["Identification.Make"].unique()

array(['Audi', 'Acura', 'BMW', 'Chevrolet', 'Nissan', 'Volvo', 'Bentley',
       'Toyota', 'Honda', 'Ford', 'Rolls-Royce', 'Volkswagen', 'Maybach',
       'Lamborghini', 'Lexus', 'Hyundai', 'Mercedes', 'BMW Motorrad',
       'Kia', 'AMG', 'Mazda', 'Mercedes-Benz', 'Mercedes-AMG',
       'Mitsubishi', 'Cadillac', 'Infiniti', 'Dodge', 'Lincoln', 'GMC',
       'Porsche', 'Jeep', 'Subaru', 'Buick', 'Suzuki', 'Saab',
       'Aston Martin', 'Grand Cherokee', 'Land Rover', 'Chrysler',
       'Ferrari', 'Scion', 'MINI', 'Jaguar', 'Chrysler Group LLC',
       'Lotus', 'Maserati', 'Mercury'], dtype=object)

In [18]:
df["Engine Information.Number of Forward Gears"]

0       6
1       6
2       6
3       6
4       6
       ..
5071    5
5072    6
5073    6
5074    6
5075    6
Name: Engine Information.Number of Forward Gears, Length: 5076, dtype: int64

In [19]:
df["Engine Information.Number of Forward Gears"].unique()

array([6, 5, 4, 7, 8])

In [16]:
df["Dimensions.Length"].max()

255

In [18]:
df[df["Identification.Make"]=="Audi"] ## for which has a audi car

      Dimensions.Length  ...  Engine Information.Engine Statistics.Torque
0                   143  ...                                          236
1                   143  ...                                          207
2                   143  ...                                          207
3                   143  ...                                          207
4                   143  ...                                          207
...                 ...  ...                                          ...
4501                 17  ...                                          258
4502                147  ...                                          328
4503                 17  ...                                          328
4504                147  ...                                          463
4505                102  ...                                          343

[87 rows x 17 columns]

In [20]:
len(df[df["Identification.Make"]=="Audi"])

87

In [27]:
for Identification in df["Identification.Make"].unique():  ### for checking no of cars in in diffrent brands
  print(Identification,"==",len(df[df["Identification.Make"]==Identification]))

Audi == 87
Acura == 33
BMW == 133
Chevrolet == 626
Nissan == 294
Volvo == 103
Bentley == 18
Toyota == 325
Honda == 200
Ford == 603
Rolls-Royce == 10
Volkswagen == 129
Maybach == 13
Lamborghini == 5
Lexus == 52
Hyundai == 188
Mercedes == 64
BMW Motorrad == 58
Kia == 135
AMG == 10
Mazda == 168
Mercedes-Benz == 7
Mercedes-AMG == 6
Mitsubishi == 51
Cadillac == 200
Infiniti == 85
Dodge == 260
Lincoln == 43
GMC == 368
Porsche == 51
Jeep == 119
Subaru == 105
Buick == 71
Suzuki == 51
Saab == 59
Aston Martin == 43
Grand Cherokee == 48
Land Rover == 35
Chrysler == 30
Ferrari == 1
Scion == 26
MINI == 62
Jaguar == 44
Chrysler Group LLC == 6
Lotus == 11
Maserati == 12
Mercury == 28

In [28]:
for year in df["Identification.Year"].unique():  ### for checking no of cars in in diffrent years
  print(year,"==",len(df[df["Identification.Year"]==year]))

2009 == 49
2012 == 1215
2010 == 1789
2011 == 2023